.featureThumb {
  h4 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: $color-dark-1;
    font-size: 1.2rem;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
    color: $color-grey-1;
  }
}